.chats_page {
    width: 100%;
    height: 83.5vh;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: italic;
}

/* Filter panel */
.chats_page .filter_panel {
    width: 55%;
    height: 140px;
    margin: 0 auto;
    margin-top: 50px;
    background: #FFCC99;
    border-radius: 5px;
}
.filter_panel form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}
.filter_panel form div {
    width: 212px;
}
.filter_panel form div label {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #922C40;
}
.filter_panel form input {
    width: 100%;
    height: 37px;
    background: #DC9750;
    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.filter_panel form input[type='submit'] {
    width: 212px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 10px;
}
.filter_panel form input::placeholder {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #00000082;
    font-style: italic;
}

/* People list */
.people_container {
    width: 85%;
    margin: 0 auto;
}
.people_container .people_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.people_list .person_container {
    display: flex;
    width: 450px;
    height: 200px;
    background: #FFCC99;
    margin: 30px 0;
    border-radius: 5px;
}
.person_container .photo_container {
    width: 35%;
    height: 88%;
    margin: 12px;
}
.person_container .photo_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.people_container .person_info {
    width: 65%;
    margin: 15px 15px 15px 0;
}
.people_container .person_info .top {
    height: 60%;
}
.people_container .person_info .top h2,
.people_container .person_info .top p {
    margin: 0;
}
.people_container .person_info .top h2 {
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    color: #000000;
}
.people_container .person_info .top p {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
}
.person_container .person_info .bottom {
    display: flex;
    height: 40%;
}
.person_info .bottom .rating {
    width: 40%;
    display: flex;
    align-items: flex-end;
}
.person_info .bottom .rating img {
    cursor: pointer;
    transition: ease all .3s;
}
.person_info .bottom .rating img:hover {
    transform: scale(1.03);
}
.person_info .bottom .buttons {
    width: 60%;
}
.person_info .bottom .buttons button {
    width: 100%;
    height: 32px;
    background: #DC9750;
    border-radius: 5px;
    margin: 2px 0;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #000000;
}