.user_page {
    width: 85%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    padding: 25px;
    background: #FFCC99;
    border-radius: 5px;
}

.user_page .photo_container {
    width: 28%;
    height: 97%;
    background: #DC9750;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.user_page .photo_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    outline: 10px solid #DC9750;
    outline-offset: -10px;
    z-index: 1;
}

.file_input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

input[type='file'] {
    width: 95%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}

.user_page .right_info {
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.user_page .right_info h2 {
    width: 100%;
    margin: 0;
    margin-top: -15px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #922C40;
}

.user_page .user_info {
    width: 65%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
}

.user_page .user_info div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.user_page .user_info input,
.user_page .user_info select {
    width: 100%;
}

.description {
    width: 35%;
    height: 89%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.description textarea {
    width: 100%;
    height: 100%;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    resize: none;

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    /* padding: 7px 15px; */
    color: #000;
}

.description textarea::placeholder {
    color: #000;
    opacity: 0.5;
    font-weight: 800;
    text-align: center;
    padding: 0;
    padding-top: 60%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    color: #000;
}

.bottom_container {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.bottom_container .rating {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom_container .rating img {
    width: 95px;
    height: 85px;
    object-fit: cover;
    cursor: pointer;
    transition: ease all .3s;
}

.bottom_container .rating img:hover {
    transform: scale(1.03);
}

.bottom_container .button_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.bottom_container .button_container a,
.bottom_container .button_container button {
    width: 80%;
    padding: 15px 13px;
    text-decoration: none;
    background: #DC9750;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 27px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: ease all .3s;
}

.bottom_container .button_container a:hover,
.bottom_container .button_container button:hover {
    transform: scaleX(1.01);
    background: #f19b46;
}

.input_label {
    width: 90%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.input_label label {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    color: #922C40;
}

.input_label input,
.input_label select {
    height: 48px;
    background: #DC9750;
    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.user_info .languages_div {
    height: 70px;
}

.input_label .chosen-container {
    height: 100% !important;
}

.chosen-container-multi,
.chosen-choices {
    width: 100%;
    height: 100% !important;
    background-image: linear-gradient(#DC9750 1%, #DC9750 100%) !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen-choices {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}

.search-choice {
    height: 60% !important;
    display: flex;
    margin: 0 2px !important;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: none !important;
    padding-left: 10px !important;
    padding-right: 25px !important;
}

.chosen-container li span:not(.no-results > span) {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.search-choice a {
    margin-top: 0 !important;
    margin-right: 2px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: auto !important;
}

.chosen-drop {
    width: max-content !important;
}

.chosen-results li {
    background: #FFCC99 !important;
    font-size: 16px !important;
}

.chosen-results li span {
    font-size: 14px;
    font-weight: 800 !important;
}

.input_label input,
.input_label select,
.input_label label {
    width: 100%;
}

.user_info .half_width {
    width: 47.5% !important;
}