.user_page {
    width: 85%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    padding: 25px;
    background: #FFCC99;
    border-radius: 5px;
}
.user_page .photo_container {
    width: 28%;
    height: 97%;
    background: #DC9750;
    padding: 10px;
    border-radius: 5px;
}
.user_page .photo_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.user_page .right_info {
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
.user_page .right_info h2 {
    width: 100%;
    margin: 0;
    margin-top: -15px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #922C40;
}
.user_page .user_info {
    width: 65%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
}
.user_page .user_info div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.user_page .user_info input,
.user_page .user_info select {
    width: 100%;
}
.description {
    width: 35%;
    height: 86.5%;
    margin-top: 27px;
    display: flex;
    align-items: center;
}
.description textarea {
    width: 100%;
    height: 100%;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    resize: none;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    padding: 7px 15px;
    color: #000;
}
.description textarea::placeholder {
    color: #000;
    opacity: 0.5;
    font-weight: 800;
    text-align: center;
    padding: 0;
    padding-top: 60%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    color: #000;
}
.bottom_container {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.bottom_container .rating {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bottom_container .rating img {
    width: 95px;
    height: 85px;
    object-fit: cover;
    cursor: pointer;
    transition: ease all .3s;
}
.bottom_container .rating img:hover {
    transform: scale(1.03);
}
.bottom_container .button_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.bottom_container .button_container a,
.bottom_container .button_container button {
    width: 80%;
    padding: 15px 13px;
    text-decoration: none;
    background: #DC9750;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 27px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: ease all .3s;
}

.bottom_container .button_container a:hover,
.bottom_container .button_container button:hover {
    transform: scaleX(1.01);
    background: #f19b46;
}

.input_label {
    width: 90%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.input_label label {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    color: #922C40; 
}
.input_label input, .input_label select {
    height: 48px;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.user_info .languages_div {
    height: 70px;
}
.input_label .chosen-container {
    height: 100% !important;
}
.chosen-container-multi, .chosen-choices {
    height: 100% !important;
    /* background-color: #DC9750 !important; */
    background-image: linear-gradient(#DC9750 1%,#DC9750 100%) !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-choice {
    height: 60% !important;
    /* margin-top: 7px !important; */
    display: flex;
    margin: 0 -2px !important;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: none !important;
    padding-left: 10px !important;
    padding-right: 25px !important;
    /* box-shadow: none !important; */
}
.chosen-container li span {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #000000;
}
.search-choice a {
    margin-top: 11px !important;
    margin-right: 2px !important;
}
.chosen-drop {
    width: max-content !important;
}
.chosen-results li {
    background: #FFCC99;
}
.input_label input, .input_label select, .input_label label {
    width: 100%;
}
.user_info .half_width {
    width: 47.5% !important;
}