/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: #1E2640;
}
header {
    width: 100%;
    height: 155px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #922C40;
    display: flex;
}
header .empty_div {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .empty_div:first-child {
    justify-content: flex-start;
}
.empty_div .chats_btn {
    width: 50%;
    height: 60px;
    margin-left: 15px;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.empty_div .chats_btn a {
    display: block;
    width: 100%;
    padding: 8px 2px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    color: #000000;
}
header .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}
header .logo h1 {
    width: 100%;
    margin: 0;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 56px;
    text-align: center;
    color: #FFCC99;
}
header .logo .logo_line {
    width: 100%;
    height: 18px;
    background: #DC9750;
    border-radius: 10px;
}
header .empty_div .user {
    height: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
}
.user_btn_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 25px; */
}
.user_btn_container button {
    width: 110px;
    height: 38px;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.user_btn_container button > a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #F3EAC0;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
}

/* Logged acc - right side */
.user_info {
    width: 60%;
    height: 75%;
    background: #FFCC99;
    margin-right: 40px;
    border-radius: 5px;
    display: flex;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
}
.user_info .photo_container {
    width: 40%;
    height: 100%;
}
.user_info .photo_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_info .right_side {
    width: 55%;
    margin-left: 7px;
    display: flex;
    flex-wrap: wrap;
}
.user_info .right_side p {
    margin: 8px 0 0px 3px;
    height: 10px;
}
.user_info .right_side button {
    width: 100%;
    margin: 3px;
    background: #DC9750;
    border: none;
    border-radius: 5px;
}
.user_info .right_side button a {
    display: block;
    width: 100%;
    padding: 2px 2px;
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.user_info .right_side button:last-child {
    margin-bottom: 7px;
}