.login_page {
    width: 100%;
    height: 83.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: italic;
}
.login_page .left_side {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_panel {
    width: 55%;
    height: 87%;
    background: #FFCC99;
    border-radius: 5px;
}
.login_panel h2 {
    width: 100%;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #922C40;
    margin: 20px 0;
}
.login_panel form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
}
.login_panel form input, .login_panel form button {
    width: 82%;
    height: 65px;
    background: #DC9750;
    border-radius: 5px;
    border: none;
    margin: 20px 0;

    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: #000;
}
.login_panel form input::placeholder {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #00000080;
}
.login_panel form button {
    width: 60%;
    font-style: italic;
    font-weight: 900;
    color: #000000ab;
    font-size: 25px !important;
    cursor: pointer;
}
/* Change the auto fill color to any color */
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 45px #DC9750 inset !important;
}
.login_panel form input:first-child {
    margin-bottom: 50px;
}
.login_panel form input:nth-child(2) {
    margin-bottom: 35px;
}
.login_panel .separation_div {
    width: 100%;
    display: flex;
    align-items: center;
}
.login_panel .separation_div .line_div {
    width: 42%;
    height: 13px;
    background: #DC9750;
    border-radius: 10px;
}
.login_panel .separation_div p {
    width: 16%;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #C2874B;
}
.login_panel .signUp_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.login_panel .signUp_button button {
    width: 60%;
    height: 65px;
    border-radius: 5px;
    background: #DC9750;
    cursor: pointer;
    border: none;
}
.login_panel .signUp_button button a {
    font-style: italic;
    font-weight: 900;
    color: #000000ab;
    font-size: 25px !important;
    text-decoration: none;
}

.login_page .right_side {
    width: 40%;
    height: 98%;
    margin: 15px;
}
.login_page .right_side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}